@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Flight App</h1>
    <p>The Purpose of this site is to view Flights and the passangers on those flights.</p>
</div>
