@model Flight1.Web.Models.FlightViewModel

@{
    ViewData["Title"] = "FlightEdit";
}

<h2 class="h2">Flight Edit</h2>
<hr />
<div class="row">
    <div class="col-md-4b font-weight-bold">
        <form asp-action="FlightEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <input asp-for="Arrival" class="form-control" />
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepLocation" class="control-label"></label>
                <input asp-for="DepLocation" class="form-control" />
                <span asp-validation-for="DepLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label font-weight-bold"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label font-weight-bold"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary font-weight-bold" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllFlights" class="font-weight-bold">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
